:root {
	--container-max-width: 1150px;
	--h2-font-size: 50px;
	--primary-color: #111111;
	--secondary-color: #141414;
	--accent-color: #8070C5;
	--gradient-color: linear-gradient(90deg, #8070C5 47%, #8D86C9 100%);
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: var(--primary-color);
	font-family: sans-serif;
	overflow-x: hidden;
}

/* Navbar */

nav {
	background: var(--secondary-color);
	width: 100%;
	position: fixed;
	transition: all 0.2s;
	height: 75px;
	z-index: 3;
}

nav .container {
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	font-family: "Montserrat", sans-serif;
	max-width: var(--container-max-width);
}

nav a {
	color: #d9d9d9;
	text-decoration: none;
}

nav .logo {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-size: 24px;
	background: var(--accent-color);
	width: 75px;
	height: 75px;
	padding: 5px;
	transition: 0.2s;
}

nav .logo img {
	width: 80%;
	filter: brightness(15%);
}

nav ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	width: 35%;
	transition: all 0.5s;
}

nav ul li {
	margin: 5px;
}

nav ul li a {
	padding: 20px 10px;
	display: inline-block;
	background-size: 100% 0%;
	background-repeat: no-repeat;
	background-position: left;
	background-image: linear-gradient(to top, #8070c5, #8070c5);
	background-position: bottom;
	transition: 0.5s;
}

nav ul li a:hover {
	background-size: 100% 100%;
	color: var(--primary-color);
}

/* Hamburger Menu */

.menu-toggle {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 20px;
	position: relative;
	display: none;
}

.menu-toggle input {
	position: absolute;
	left: -11px;
	top: -2px;
	width: 50px;
	height: 28px;
	opacity: 0;
	cursor: pointer;
	z-index: 2;
}

.menu-toggle span {
	display: block;
	width: 28px;
	height: 3px;
	background-color: #d9d9d9;
	border-radius: 5px;
	transition: transform 0.2s, opacity 0.5s;
}

.menu-toggle span:nth-child(2) {
	transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
	transform-origin: 0 100%;
}

.menu-toggle input:hover ~ span {
	background: var(--accent-color);
}

.menu-toggle input:checked ~ span:nth-child(2) {
	transform: rotate(40deg);
}
.menu-toggle input:checked ~ span:nth-child(3) {
	opacity: 0;
	transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
	transform: rotate(-40deg);
}

/* Header */

.header .container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	max-width: var(--container-max-width);
	height: 100vh;
	padding: 0 50px;
	margin: 0 auto;
}

.header .col:nth-child(1) {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header .col:nth-child(1) h1 {
	font-size: 64px;
	font-weight: 100;
	font-family: "Source Sans Pro", sans-serif;
	letter-spacing: 2px;
	padding: 10px 0;
	color: #ffffff;
}

.header .col:nth-child(1) p {
	font-size: 32px;
	color: #bdbdbd;
	padding: 10px 0;
}

.title-border {
	border: var(--accent-color) 1px solid;
	width: 204px;
	height: 6px;
	background: var(--gradient-color);
}

.header .col:nth-child(2) {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.header .col:nth-child(2) .shape {
	width: 368px;
	height: 368px;
	border-radius: 100%;
	background-color: #272829;
}

.header .col:nth-child(1) .cursor {
	display: inline-block;
	width: 3px;
	background: var(--accent-color);
	margin-left: 2px;
	animation: cursorBlink 1s infinite;
}

@keyframes cursorBlink {
	50% {
		background: transparent;
	}
}

/* About */

.about {
	background: var(--secondary-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 50px;
}

.about h2 {
	padding: 50px 0;
	text-align: center;
	font-size: var(--h2-font-size);
	font-family: "Montserrat", sans-serif;
	color: #dddddd;
}

.about p {
	color: #dddddd;
	font-size: 24px;
	text-align: center;
	padding: 0 0 50px 0;
	max-width: var(--container-max-width);
}

.skills {
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.skills .title-border {
	width: 40%;
	margin-bottom: 50px;
}

.skills .container {
	display: flex;
	gap: 50px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: var(--container-max-width);
	margin: 0 auto;
	color: #dddddd;
}

.skills .col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skills h2 {
	color: #dddddd;
	grid-column: 1 / span 4;
	text-align: center;
	font-size: var(--h2-font-size);
	font-family: "Montserrat", sans-serif;
	margin-bottom: 10px;
	overflow: hidden;
}

.skills i {
	font-size: 5rem;
	margin-bottom: 10px;
}

.skills h4 {
	font-size: 1.5rem;
}

/* Contact */

.contact {
	background: var(--secondary-color);
	color: #dddddd;
}

.contact h2 {
	font-family: "montserrat", sans-serif;
	font-size: var(--h2-font-size);
	grid-column-start: span 2;
}

.contact p {
	font-size: 36px;
	font-family: "source sans pro", sans-serif;
}

.contact .email {
	font-size: 24px;
	text-decoration: none;
	background-image: var(--gradient-color);
	background-size: 0% 1.5px;
	background-repeat: no-repeat;
	background-position: left bottom;
	transition: 0.5s;
	padding-bottom: 1px;
}

.contact .email:hover {
	background-size: 100% 1.5px;
}

.contact .container {
	display: grid;
	max-width: var(--container-max-width);
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 0 50px;
	min-height: 500px;
}

.contact .col:nth-child(2) {
	text-align: end;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.contact a {
	color: var(--accent-color);
}

.contact ul {
	display: flex;
	justify-content: end;
	list-style: none;
	text-align: end;
	padding: 10px 0 0 0;
}

.contact ul li a {
	font-size: 40px;
	padding: 5px 8px;
	margin: 0 5px;
	background-size: 0% 100%;
	background-repeat: no-repeat;
	background-position: left;
	background-image: linear-gradient(to left, var(--accent-color), var(--accent-color));
	color: #d9d9d9;
	transition: 0.5s;
}

.contact ul li a:hover {
	background-size: 100% 100%;
	color: var(--secondary-color);
}

@media (max-width: 768px) {
	nav ul {
		width: 50%;
	}

	.header .col:nth-child(2) {
		justify-content: center;
	}

	.header .col:nth-child(2) .shape {
		width: 234px;
		height: 234px;
		margin: 0 auto;
	}

	.skills .container {
		justify-content: center;
		grid-template-columns: repeat(2, minmax(100px, 1fr));
	}

	.skills .col {
		padding: 0 50px;
	}

	.skills .item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.contact .container {
		grid-template-columns: repeat(1, minmax(200px, 1fr));
		padding: 50px;
	}

	.contact h2 {
		text-align: center;
		grid-column-start: inherit;
	}

	.contact .col:nth-child(2) {
		justify-self: self-start;
	}
}

@media (max-width: 572px) {
	.header {
		padding-top: 50px;
	}

	.menu-toggle {
		display: flex;
		right: 20px;
	}

	nav {
		z-index: 1;
	}

	nav ul {
		position: absolute;
		top: 53px;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 100vw;
		height: 100vh;
		background: var(--secondary-color);
		transform: translate(100%, 0);
		opacity: 0.5;
		display: none;
	}

	nav ul.slide {
		display: flex;
		transform: translate(0, 0) scale(1);
		opacity: 1;
	}

	.about h2 {
		font-size: 40px;
	}

	.skills h2 {
		font-size: 40px;
	}

	.skills i {
		font-size: 3rem;
	}

	.skills .title-border {
		width: 95%;
	}

	.contact h2 {
		font-size: 40px;
	}

	.contact p {
		font-size: 24px;
	}

	.contact .email {
		font-size: 16px;
	}

	.contact ul li a {
		font-size: 30px;
	}

	.contact .col:nth-child(2) {
		text-align: start;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
}

@media (max-width: 480px) {
	* .container {
		padding: 20px;
	}

	nav .container {
		padding: inherit;
	}
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
