:root {
	--container-max-width: 1350px;
	--h2-font-size: 50px;
	--primary-color: #0a0a10;
	--secondary-color: #2c363f;
	--font-color: #d4d5de;
	--icon-color: #c0c2d2;
	--accent-color: #00c4f0;
}

@font-face {
	font-family: 'Montserrat-ExtraLight';
	src: url('../fonts/Montserrat-ExtraLight.ttf')
}

@font-face {
	font-family: 'Montserrat-Thin';
	src: url('../fonts/Montserrat-Thin.ttf');
}

@font-face {
	font-family: 'Montserrat-Medium';
	src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat-Light';
	src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
	font-family: 'Ubuntu-Mono';
	src: url('../fonts/UbuntuMono-Regular.ttf');
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: var(--primary-color);
	overflow-x: hidden;
	color: var(--font-color);
	padding: 0 20px;
}

h1 {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: clamp(2.5rem, 5vw, 5.1rem);
}

h2 {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: clamp(1.6rem, 2.6vw, 4.6rem);
}

h3 {
	font-family: 'Montserrat-Regular', sans-serif;
}

p {
	font-family: 'Montserrat-Light', sans-serif;
	font-size: clamp(1.2rem, 0.8vw, 2.6rem);
}

a {
	font-family: 'Montserrat-Light', sans-serif;
	color: var(--font-color);
}

.reveal {
  position: relative;
  /* transform: translateY(200px); */
  /* opacity: 0; */
  transition: 1s all ease-out;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

html::-webkit-scrollbar {
	width: 6px;
}

html::-webkit-scrollbar-thumb {
	background: var(--accent-color);
}

html::-webkit-scrollbar-button {
	background: var(--secondary-color);

}

section > .container:first-child {
	margin: 0 150px;
}

header > .container:first-child {
	margin: 0 150px;
}
/* Navbar */

nav {
	background: #0a0a10bd;
	width: 100%;
	position: fixed;
	transition: all 0.2s;
	height: 100px;
	z-index: 3;
	backdrop-filter: blur(8px);
	display: flex;
	justify-content: center;
	align-items: center;
}

nav .container {
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	max-width: var(--container-max-width);
	width: 100%;
}

nav a {
	text-decoration: none;
}

nav .logo {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(to top, var(--accent-color), var(--accent-color));
	background-position: bottom;
	transition: 0.5s;
	background-size: 100% 0%;
	padding: 10px;
	margin: 0;
}

nav .logo:hover {
	background-size: 100% 100%;
	color: var(--primary-color);
}

nav .logo svg {
	color: var(--font-color);
	width: 50px;
	transition: 0.2s;
}

nav .logo:hover svg {
	color: var(--primary-color);
}


nav ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	transition: all 0.5s;
	max-width: 70%;
}

nav ul li {
	margin: 2px 40px;
}

nav ul li a {
	padding: 8px 5px;
	display: inline-block;
	background-size: 0% 7%;
	background-repeat: no-repeat;
	background-image: linear-gradient(to top, var(--accent-color), var(--accent-color));
	background-position: bottom;
	transition: 0.5s;
}

nav ul li a:hover {
	background-size: 100% 7%;
	color: var(--accent-color);
}

/* Hamburger Menu */

.menu-toggle {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 20px;
	position: relative;
	display: none;
	margin: 0 30px;
}

.menu-toggle input {
	position: absolute;
	left: -11px;
	top: -2px;
	width: 50px;
	height: 28px;
	opacity: 0;
	cursor: pointer;
	z-index: 2;
}

.menu-toggle span {
	display: block;
	width: 28px;
	height: 3px;
	background-color: #d9d9d9;
	border-radius: 5px;
	transition: transform 0.2s, opacity 0.5s;
}

.menu-toggle span:nth-child(2) {
	transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
	transform-origin: 0 100%;
}

.menu-toggle input:hover ~ span {
	background: var(--accent-color);
}

.menu-toggle input:checked ~ span:nth-child(2) {
	transform: rotate(40deg);
}
.menu-toggle input:checked ~ span:nth-child(3) {
	opacity: 0;
	transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
	transform: rotate(-40deg);
}

/* Header */

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0 auto;
}

.header .container {
	display: flex;
	width: 100%;
	max-width: var(--container-max-width);
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	justify-items: center;
}

.header .col:nth-child(1) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* margin: 0 auto; */
}

.header .col:nth-child(1) h1 {
	letter-spacing: 2px;
	padding: 10px 0;
}

.header .col:nth-child(1) .desc {
	color: #9b9ca9;
	padding: 10px 0;
	font-size: clamp(1.6rem, 0.9vw, 3.8rem);
	letter-spacing: 4px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.header .col:nth-child(1) > .desc > .scroll {
	scroll-snap-type: x mandatory;
	display: flex;
	width: 190px;
	flex-direction: row;
	align-items: center;
	overflow-x: scroll;
	gap: 50px;
	scroll-behavior: smooth;
	padding-bottom: 4px;
	transform: translateY(4px);
	/* scrollbar-track-color: var(--accent-color); */
}

.header .col:nth-child(1) > .desc > .scroll::-webkit-scrollbar {
	width: 5px;
	height: 3px;
}

.header .col:nth-child(1) > .desc > .scroll::-webkit-scrollbar-thumb {
	background: var(--accent-color);
	width: 10px;
}

.header .col:nth-child(1) > .desc > .scroll > div:first-child {
	scroll-snap-stop: normal;
	scroll-snap-align: start;
}

.header .col:nth-child(1) > .desc > .scroll > div:last-child {
	scroll-snap-align: start;
	scroll-snap-stop: always;
	padding-right: 80px;
	scroll-padding-right: -20px;
}

.header .col:nth-child(2) {
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin: 0 auto; */
}	

.header .col:nth-child(2) .clip {
	height: clamp(210px, 26vw, 380px);
	min-height: 300px;
	width: clamp(180px, 26vw, 280px);
	display: flex;
	align-items: end;
	justify-content: center;
	border-radius: 0 0 500px 500px;
	overflow: hidden;
	margin-top: -10px;
	margin-bottom: 50px;
}

.header .col:nth-child(2) .clip .shape {
	max-width: 280px;
	max-height: 280px;
	min-width: 180px;
	min-height: 180px;
	width: 26vw;
	height: 26vw;
	border-radius: 100%;
	background-color: var(--secondary-color);
	display: flex;
	justify-content: center;
	align-items: end;
}

.header .col:nth-child(2) .clip .shape img {
	max-width: 700px;
	width: 130%;
	position: relative;
	display: inline-block;
}

.header .col:nth-child(1) .cursor {
	display: inline-block;
	width: 3px;
	background: var(--accent-color);
	margin-left: 2px;
	animation: cursorBlink 1s infinite;
}

@keyframes cursorBlink {
	50% {
		background: transparent;
	}
}

@media only screen and (max-width: 960px){
	.header .container {
		justify-content: center;
	}

	.header .container .col:nth-child(1) h1 {
		text-align: center;
	}

	.header .container .col:nth-child(1) p {
		text-align: center;
	}

	.header .col:nth-child(1) > .desc {
		justify-content: center;
	}
}

/* About */

.about {
	background: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

.about > .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: start;
	max-width: var(--container-max-width);
	gap: 80px;
	width: 100%;
}

.about > .container > .col:nth-child(1) {
	display: flex;
	justify-content: start;
	flex-direction: column;
	gap: 30px;
}

.about > .container > .col:nth-child(1) p {
	max-width: 520px;
}

/* Skills */
.about > .container > .col:nth-child(2) {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 10px;
}

.about > .container > .col:nth-child(2) .container {
	display: flex;
	justify-content: start;
	align-items: start;
	flex-wrap: wrap;
	max-width: var(--container-max-width);
	margin: 0 auto;
	gap: 20px;
}

.about > .container > .col:nth-child(2) .container .col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about > .container > .col:nth-child(2) h2 {
	text-align: center;
	margin-bottom: 10px;
	overflow: hidden;
}

.about > .container > .col:nth-child(2) i {
	font-size: 2rem;
	margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
	section > .container:first-child {
		margin: 0px 10px;
	}
}

/* Contact */

.contact {
	background: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact h3 {
	font-size: clamp(1.2rem, 0.9vw, 2.6rem);
}

.contact .email {
	text-decoration: none;
	background-image: linear-gradient(to top, var(--accent-color), var(--accent-color));
	background-size: 0% 1.5px;
	background-repeat: no-repeat;
	background-position: left bottom;
	transition: 0.5s;
	padding-bottom: 1px;
	font-size: clamp(1.4rem, 1vw, 4rem);
}

.contact .email:hover {
	background-size: 100% 1.5px;
}

.contact .container {
	display: flex;
	max-width: var(--container-max-width);
	justify-content: space-between;
	align-items: center;
	min-height: 300px;
	flex-wrap: wrap;
	width: 100%;
}

.contact .col:nth-child(2) {
	text-align: end;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact ul {
	display: flex;
	justify-content: end;
	list-style: none;
	text-align: center;
	margin-top: 10px;
	gap: 10px;
}

.contact ul li a {
	padding: 5px 8px;
	margin: 0 1px;
	background-size: 100% 0%;
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: linear-gradient(to left, var(--accent-color), var(--accent-color));
	transition: 0.5s;
	font-size: clamp(1.8rem, 2vw, 3rem);
}

.contact ul li a:hover {
	background-size: 100% 100%;
	color: var(--primary-color);
}

/*  */

@media only screen and (max-width: 600px) {
	.menu-toggle {
		display: flex;
		right: 20px;
	}

	nav {
		z-index: 1;
	}

	nav ul {
		position: absolute;
		top: 53px;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 100vw;
		height: 50vh;
		background: var(--primary-color);
		transform: translate(100%, 0);
		opacity: 0.5;
		display: none;
	}

	nav ul.slide {
		display: flex;
		transform: translate(0, 0) scale(1);
		opacity: 1;
	}

	.contact .col:nth-child(2) {
		text-align: start;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
}

@media (max-width: 480px) {
	/* nav .container {
		padding: inherit;
	} */
}